*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #E1E1E1;
    color: #031A2F;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px; 
    z-index: 99999;
    margin-bottom: 40px; 
}

header nav{
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #031A2F;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}

header nav li{
    padding: 5px;
    transition: all .6s;
}

header nav li a{
    color: #E1E1E1;
    transition: all .6s;
}

header nav a{
    text-decoration: none;
}

header nav li{
    padding: 5px 15px;
}

header nav li:hover{
    background-color: #E1E1E1;
    border-radius: 2px;
}

header nav li:hover a{
    color: #031A2F;
}

header form input{
    border-radius: 5px;
}

header form button{
    padding: 0px 10px;
    font-weight: 300;
    border-radius: 5px;
}

/* Main - Banner */ 

.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    
    margin-top: 90px;
    padding: 0 80px;
    height: 650px;
    
    background-image: url("/assets/imgs/img-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    color: #E1E1E1;

}

.banner h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2em;
    width: 38%;
}

.banner h2{
    font-size: 25px;
    font-weight: 400;
    
    width: 30%;

}

.banner button{
    font-size: 18px;
    font-weight: 300;
    padding: 10px 50px;
    transition: all .8s;
    
    background-color: transparent;
    color: #E1E1E1;
    border: solid 1px #E1E1E1;
    border-radius: 10px;
}

.banner button:hover{
    transform: scale(1.1);
    color: #031A2F;
    background-color: #E1E1E1;
}

/* Main - Conteudo */

#conteudo {
    padding: 80px 80px;
}

#conteudo h2{
    color: #031A2F;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1em;
}

#conteudo h3{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1em;
}

#conteudo .post {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

#conteudo .post article {
    padding: 0px;
    width: 400px;
    height: auto;
    border: solid 1px #031a2f52;
    border-radius: 5px;
    transition: all .6s;
}

#conteudo .post article:hover {
transform: scale(1.05);
box-shadow: 3px 8px 15px 0px #031a2f15;
border-color: #031a2f12;
}

#conteudo .post article img{
    border-radius: 5px 5px 0 0;
}

#conteudo .post article h2{
    padding: 10px 20px;
    font-size: 22px;
    font-weight: 600;
}

#conteudo .post article p{
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 400;
}

#conteudo .post article button{
    margin: 20px;
    padding: 5px 25px;
    transition: all .6s;

    font-size: 16px;
    font-weight: 300;
    color: #E1E1E1;

    border: solid 1px #031A2F;
    border-radius: 5px;
    background-color: #031A2F;
}

#conteudo .post article button:hover{
    margin: 20px;
    padding: 5px 25px;
    transition: all .6s;

    font-size: 16px;
    font-weight: 300;
    color: #031A2F;

    border: solid 1px #031A2F;
    border-radius: 5px;
    background-color: #E1E1E1;
}

/* Main - Video */

#videos{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    padding: 45px;
    border-radius: 5px;
    text-align: center;

    background-color: #031A2F;
    color: #E1E1E1;
    width: 45%;
}

#videos iframe{
padding: 20px 0;
    border-radius: 5px;

}

/* Main - Especialistas */

#especialistas{
    padding: 80px 40px;
    text-align: center;

}

#especialistas a {
    text-decoration: none;
}

#especialistas h2{
    padding: 40px 0;
    font-size: 35px;
    font-weight: 600; 
}

#especialistas h3{
    font-size: 22px;
    font-weight: 500;
}

#especialistas p{
    font-size: 15px;
    font-weight: 400;
}

#especialistas .cards-especialistas{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

#especialistas .cards-especialistas .especialista{
    background-color: #031A2F;
    color: #E1E1E1;
    border-radius: 5px;
}

#especialistas .redes-sociais img {
    width: 30px;
    padding: 10px 4px;
    height: auto;
    transition: all .8s;
}

#especialistas .redes-sociais img:hover{
    transform: scale(1.2);
}

/* Main - Contato */

#contato{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 40px;
    padding: 40px;
    border-radius: 5px;

    color: #E1E1E1;
    text-align: center;
    background-color: #031A2F;
    width: 45%;
}

#contato form{
    text-align: center;
    width: 100%;
}



/* Footer */
footer {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cccbcb;
    font-size: 12px;
}

footer li {
    list-style-type: none;  
    transition: all .6s;
    font-size: 12px;
}

footer li:hover {
    transform: scale(1.1);
}

footer a {
    color: #031A2F;
    text-decoration: none;
}

footer a:visited {
    color: none;
}

footer #contato p{
    font-size: 12px;
    font-weight: 400px;
}

#redes-sociais img{
    width: 25px;
    padding: 10px 4px;
    height: auto;
    transition: all .8s;
}

#redes-sociais img:hover{
    transform: scale(1.2);
}

/* Medias queries */

@media (max-width: 765px) {
    .banner h2{
        color: red;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    header nav {
        flex-direction: column;
        gap: 30px;
        }
    
    .banner{
       margin-top: 200px;
        height: 550px;
    }

    .banner h1{
        font-size: 40px;
        width: 90%;
    }
    
    .banner h2{
        font-size: 22px;
        width: 80%;
    }

    #conteudo {
        text-align: center;
    }

    #conteudo .post {
        justify-content: center;
    }

    #videos{
        width: 85%;
    }

    #contato{
        width: 85%;
    }
}

@media (min-width: 992px) and (max-width: 1280px) {
    .banner h1{
        width: 65%;
    }
    
    .banner h2{
        width: 50%;
    }

    #videos{
        width: 65%;
    }

    #contato{
        width: 65%;
    }
}   